@media(min-width: 1025px) and (max-width: 4000px) {
    .search_wrapper {
        display: none;
    }
    .user_online-mobile {
        display: none;
    }
    .chat_name {
        display: none;
    }
    .user_slider {
        display: none;
    }
    .admin_messages-wrapper {
        width: 100%;
        height: 100%;
        background: #1D1F21;
         }
    .admin_messages-container {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 19% auto;
        grid-template-rows: auto;
        .admin_header-wrapper {
            grid-column-start: 1;
            grid-column-end: 3;
        }
        .sidebar {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 34px 28px 20px 36px;
            background: #1D1F21;
               .sidebar_links {
                display: flex;
                flex-direction: column;
                row-gap: 24px;
                .item {
                    display: flex;
                    column-gap: 12px;
                    .link {
                        font-family: $proxiReg;
                        font-size: 16px;
                        line-height: 21px;
                        color: #C8D2DC;
                        &:hover {
                            color: #FCFFFF;
                        }
                    }
                }
            }
            .sidebar_footer {
                display: flex;
                flex-direction: column;
                margin-left: -8px;
                .link {
                    padding-bottom: 16px;
                    border-bottom: 1px solid #525960;
                }
                .text {
                    font-family: $proxiReg;
                    font-size: 12px;
                    line-height: 20px;
                    color: #C8D2DC;
                    margin-top: 12px;
                }
            }
        }
    }
    .admin_activity {
        height: 100%;
        background: #212426;
        border-radius: 32px 0px 0px 0px;
        //padding: 25px 30px 30px 29px;
        display: grid;
        grid-template-columns: 33.5% auto;
        grid-template-rows: auto;
        .user_list {
            display: flex;
            flex-direction: column;
            row-gap: 7px;
            padding: 32px 29px 339px 30px;
            
            border-right: 1px solid #525960;
            .title {
                font-family: $proxiBold;
                font-size: 14px;
                line-height: 20px;
                color: #FCFFFF;
                margin-bottom: 32px;
            }
            .user {
                display: grid;
                grid-template-columns: 12.54% 1fr 1fr;
                grid-template-rows: auto auto;
                column-gap: 15px;
                background: #1D1F21;
                padding: 14px 19px 14px 12px;
                border-radius: 14px;
                &:hover {
                background: linear-gradient(94.78deg, rgba(104, 201, 255, 0.1) 9.27%, rgba(209, 181, 255, 0.1) 84.06%);
                ._name {
                    background-image: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                 }
                }
                .photo {
                    grid-row-start: 1;
                    grid-row-end: 3;
                }
                ._name {
                font-family: $proxiSemi;
                font-size: 12px;
                line-height: 15px;
                color: #C8D2DC;
                grid-column-start: 2;
                grid-column-end: 3;
                }
                ._time {
                font-family: $proxiReg;
                font-size: 12px;
                line-height: 15px;
                color: #C8D2DC;
                opacity: 0.6;
                grid-column-start: 3;
                grid-column-end: 4;
                justify-self: flex-end;
                }
                ._info {
                font-family: $proxiReg;
                font-size: 14px;
                line-height: 15px;
                color: #FCFFFF;
                grid-column-start: 2;   
                grid-column-end: 4;             
                }
            }
        }
        //chatting----------------------------------------------------------------
        .chating {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 25px 32px 30px 24px;
            .user_online {
                display: flex;
                align-items: center;
                column-gap: 13px;
                .name {
                    font-family: $proxiSemi;
                    font-size: 16px;
                    line-height: 15px;
                    color: #C8D2DC;;
                }
                .dot {
                    margin-right: -10px;
                    margin-left: 10px;
                }
                .info {
                    font-family: $proxiReg;
                    font-size: 12px;
                    line-height: 15px;
                    color: #FCFFFF;
                }
            }
            .chat_window {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                row-gap: 9px;
                padding-bottom: 20px;
                .pic {
                    margin-top: 76px;
                }
                .message {
                    width: 213px;
                    height: 36px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #2C2F33;
                    border-radius: 8px;
                    font-family: $proxiReg;
                    font-size: 14px;
                    line-height: 18px;
                    color: #FCFFFF;
              }
              .text {
                font-family: $proxiReg;
                font-size: 12px;
                line-height: 15px;
                color: #C8D2DC;
                opacity: 0.6;
              }
            }
            .chat_division {
                width: 100%;
                height: 23px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid #2C2F33;
                border-top: 1px solid #2C2F33;
                .text {
                font-family: $proxiReg;
                font-size: 12px;
                line-height: 15px;
                color: #C8D2DC;
                opacity: 0.6;
                }
            }
            .new_messages {
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 20px 0 0 0;
                row-gap: 7px;
                .message {
                    display: grid;
                    grid-template-columns: 19px auto;
                    grid-template-rows: auto auto;
                    column-gap: 10px;
                    row-gap: 6px;
                    &._last {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        .message_text {
                            background: #2C2F33;
                        }
                        }
                    .photo {
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 1;
                        grid-row-end: 2;
                        align-self: flex-end;
                    }
                    .message_text {
                width: 402px;
                height: 78px;
                font-family: $proxiReg;
                font-size: 14px;
                line-height: 18px;
                color: #FCFFFF;
                background: #3626EA;
                border-radius: 8px;
                padding: 12px 24px;
                    }
                    .time {
                        font-family: $proxiReg;
                        font-size: 12px;
                        line-height: 15px;
                        color: #C8D2DC; 
                        opacity: 0.6;
                        grid-row-start: 2;
                        grid-row-end: 3;
                        grid-column-start: 1;
                        grid-column-end: 3;
                    }
                }
                .button_wrapper {
                    width: 100%;
                    height: 64px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 24px 0 32px;
                    background: #2C2F33;
                    border-radius: 9px;
                    margin-top: 12px;
                    .button {
                        font-family: $proxiReg;
                        font-size: 16px;
                        line-height: 21px;
                        color: #C8D2DC; 
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}
@media(min-width: 280px) and (max-width: 1024px) {
    .admin_messages-wrapper {
        width: 100%;
        height: 100%;
        background: #282828;
        overflow: hidden;
         }
    .admin_messages-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
            .sidebar {
            min-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 34px 28px 85px 36px;
            display: none;
               .sidebar_links {
                display: flex;
                flex-direction: column;
                row-gap: 24px;
                .item {
                    display: flex;
                    column-gap: 12px;
                    .link {
                        font-family: $proxiReg;
                        font-size: 16px;
                        line-height: 21px;
                        color: #C8D2DC;
                        &:hover {
                            color: #FCFFFF;
                        }
                    }
                }
            }
            .sidebar_footer {
                display: flex;
                flex-direction: column;
                margin-left: -8px;
                .link {
                    padding-bottom: 16px;
                    border-bottom: 1px solid #525960;
                }
                .text {
                    font-family: $proxiReg;
                    font-size: 12px;
                    line-height: 20px;
                    color: #C8D2DC;
                    margin-top: 12px;
                }
            }
        }
    }
    .admin_activity {
        min-height: 100vh;
        background: #1D1F21;
        border-radius: 0px 0px 0px 0px;
        //padding: 25px 30px 30px 29px;
        display: flex;
        flex-direction: column;
            .user_list {
            display: flex;
            flex-direction: column;
            row-gap: 7px;
            padding: 17px 15px 339px 15px;
            border-right: 1px solid #525960;
            position: sticky;
            .title {
                font-family: $proxiBold;
                font-size: 20px;
                line-height: 30px;
                color: #FCFFFF;
                margin-bottom: 3px;
            }
            .user {
                display: grid;
                grid-template-columns: 12.54% 1fr 1fr;
                grid-template-rows: auto auto;
                column-gap: 9px;
                background: #2C2F33;
                padding: 14px 11px 14px 12px;
                border-radius: 14px;
                &:hover {
                background: linear-gradient(94.78deg, rgba(104, 201, 255, 0.1) 9.27%, rgba(209, 181, 255, 0.1) 84.06%);
                ._name {
                    background-image: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                 }
                }
                .photo {
                    grid-row-start: 1;
                    grid-row-end: 3;
                }
                ._name {
                font-family: $proxiSemi;
                font-size: 12px;
                line-height: 15px;
                color: #C8D2DC;
                grid-column-start: 2;
                grid-column-end: 3;
                }
                ._time {
                font-family: $proxiReg;
                font-size: 12px;
                line-height: 15px;
                color: #C8D2DC;
                opacity: 0.6;
                grid-column-start: 3;
                grid-column-end: 4;
                justify-self: flex-end;
                }
                ._info {
                font-family: $proxiReg;
                font-size: 14px;
                line-height: 15px;
                color: #FCFFFF;
                grid-column-start: 2;   
                grid-column-end: 4;  
                letter-spacing: -0.01em;           
                }
            }
            .search_wrapper {
                width: 100%;
                height: 52px;
                position: relative;
                margin-bottom: 8px;
                .search {
                    width: 100%;
                    height: 100%;
                    background: #212426;
                    border-radius: 12px;
                }
                .search_pic {
                    position: absolute;
                    top: 50%;
                    left: 22px;
                    transform: translateY(-50%);
                }
            }
        }
        //chatting----------------------------------------------------------------
        .chating {
            width: 100%;
            display: none;
            flex-direction: column;
            padding: 17px 15px 30px 15px;
            .chat_name {
                display: flex;
                justify-content: flex-start;
                column-gap: 13px;
                align-items: center;
                margin-bottom: 21px;
                .user_online-mobile {
                    display: none;
                }
                .title {
                    font-family: $proxiBold;
                    font-size: 20px;
                    line-height: 30px;
                    color: #FCFFFF;
                }
            }
                .user_online {
                display: none;
                align-items: center;
                column-gap: 13px;
                .name {
                    font-family: $proxiSemi;
                    font-size: 16px;
                    line-height: 15px;
                    color: #C8D2DC;
                }
                .dot {
                    margin-right: -10px;
                    margin-left: 10px;
                }
                .info {
                    font-family: $proxiReg;
                    font-size: 12px;
                    line-height: 15px;
                    color: #FCFFFF;
                }
            }
            .user_online-mobile {
                display: flex;
                align-items: center;
                column-gap: 22px;
                padding-left: 15px;
                .name {
                    font-family: $proxiSemi;
                    font-size: 16px;
                    line-height: 15px;
                    color: #C8D2DC;
                    min-width: 100%;
                }
                .info {
                    font-family: $proxiReg;
                    font-size: 12px;
                    line-height: 15px;
                    color: #FCFFFF;
                }
                .text_wrapper {
                    display: flex;
                    flex-direction: column;
                }
            }
            .chat_window {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                row-gap: 9px;
                padding-bottom: 8px;
                .pic {
                    margin-top: 27px;
                }
                .message {
                    width: 213px;
                    height: 36px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #2C2F33;
                    border-radius: 8px;
                    font-family: $proxiReg;
                    font-size: 14px;
                    line-height: 18px;
                    color: #FCFFFF;
              }
              .text {
                font-family: $proxiReg;
                font-size: 12px;
                line-height: 15px;
                color: #C8D2DC;
                opacity: 0.6;
              }
            }
            .chat_division {
                width: 100%;
                height: 23px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid #2C2F33;
                border-top: 1px solid #2C2F33;
                .text {
                font-family: $proxiReg;
                font-size: 12px;
                line-height: 15px;
                color: #C8D2DC;
                opacity: 0.6;
                }
            }
            .new_messages {
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 23px 0px 0 0px;
                row-gap: 7px;
                .message {
                    display: grid;
                    grid-template-columns: 19px auto;
                    grid-template-rows: auto auto;
                    column-gap: 10px;
                    row-gap: 6px;
                    margin-right: 15px;
                    &._last {
                        display: none;
                        flex-direction: column;
                        align-items: flex-end;
                        .message_text {
                            background: #2C2F33;
                        }
                        }
                    .photo {
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 1;
                        grid-row-end: 2;
                        align-self: flex-end;
                    }
                    .message_text {
                width: 299px;
                height: 96px;
                font-family: $proxiReg;
                font-size: 14px;
                line-height: 18px;
                color: #FCFFFF;
                background: #3626EA;
                border-radius: 8px;
                padding: 12px 24px;
                    }
                    .time {
                        font-family: $proxiReg;
                        font-size: 12px;
                        line-height: 15px;
                        color: #C8D2DC; 
                        opacity: 0.6;
                        grid-row-start: 2;
                        grid-row-end: 3;
                        grid-column-start: 1;
                        grid-column-end: 3;
                    }
                }
                .button_wrapper {
                    width: 100%;
                    height: 56px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 12px 0 18px;
                    background: #2C2F33;
                    border-radius: 9px;
                    margin-top: 20px;
                    .button {
                        font-family: $proxiReg;
                        font-size: 16px;
                        line-height: 21px;
                        color: #C8D2DC; 
                        opacity: 0.6;
                    }
                }
            }
        }
    }
    .user_slider {
        margin-bottom: 7px;
        .user {
            margin-right: 0px;
        }
        ._user_slider-wrapper {
            width: 100% !important;
            padding-left: 35px;
            margin-left: -11px;
        }
        .user_slide {
            display: flex !important;
            justify-content: center !important;
            margin-right: 3px;
        }
    }
}