@media(min-width: 1025px) and (max-width: 4000px) {
    .authorization_wrapper {
        &._signUp {
            //padding: 151px 0 147px 0;
            justify-content: center;
            .logo {
                margin-bottom: 12px;
            }
            .star {
                top: 21.5%
            }
        }
    }
    .role_inputBody {
        width: 51.76%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        //flex-direction: column;
        align-items: flex-start;
        column-gap: 15px;
        margin-bottom: 28px;
           .text {
            font-family: $proxiReg;
                font-size: 14px;
                line-height: 21px;
                color: #C8D2DC;
                margin-bottom: 15px;
                min-width: 100%;
        }
        .item {
            display: flex;
            align-items: center;
            .radio {
                margin-right: 9px;
                width: 22px;
                height: 22px;
                background: #212426;
                border: 1px solid #525960; 
                position: relative;
                &::after {
                content: '';
                width: 22px;
                height: 22px;
                border-radius: 50%;        
                background: #212426;
                border: 1px solid #525960;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 3;
                  }
                  &:hover {
                    content: url('@img/color-ellipse.svg');
                    max-width: 12px;
                    border: 1px solid #525960;
                   // background: #212426;
                    z-index: 5;
                  }
             }
              
             }
        label {
            font-family: $proxiSemi;
            font-size: 14px;
            line-height: 24px;
            color: #FCFFFF;
        }
    }
}
@media(min-width: 280px) and (max-width: 1024px) {
    .authorization_wrapper {
        &._signUp {
            //padding: 151px 0 147px 0;
               .logo {
                margin-bottom: 49px;
            }
            .star {
                top: 7%
            }
            .buttonWrapper {
                margin-bottom: 24px;
            }
        }
       
    }
    .role_inputBody {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        //flex-direction: column;
        align-items: flex-start;
        column-gap: 58px;
        margin-bottom: 24px;
           .text {
            font-family: $proxiReg;
                font-size: 14px;
                line-height: 21px;
                color: #C8D2DC;
                margin-bottom: 15px;
                min-width: 100%;
        }
        .item {
            display: flex;
            align-items: center;
            .radio {
                margin-right: 9px;
                width: 22px;
                height: 22px;
                background: #212426;
                border: 1px solid #525960; 
                position: relative;
                &::after {
                content: '';
                width: 22px;
                height: 22px;
                border-radius: 50%;        
                background: #212426;
                border: 1px solid #525960;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 3;
                  }
                  &:hover {
                    content: url('@img/color-ellipse.svg');
                    max-width: 12px;
                    border: 1px solid #525960;
                   // background: #212426;
                    z-index: 5;
                  }
             }
              
             }
        label {
            font-family: $proxiSemi;
            font-size: 14px;
            line-height: 24px;
            color: #FCFFFF;
        }
    }
}