.customs-page-header {
    width: 100%;

}

.customs-page-main {
    width: 100%;
    background: #1D1F21;
    display: flex;
    justify-content: center;

    &__wrapper {
        width: 100%;
        max-width: 1440px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        position: relative;
    }

    &__blurred-img {
        opacity: 0.7;
        filter: blur(124.532px);
        width: 100%;
        max-width: 758px;
        height: 699.04px;
        position: absolute;
        z-index: -1;
        background: #86a8ff63;
    }

    &__blurred-img.first._active {
        background: url(../img/first-blurred-img.png);
        transition: 0.5s;
        top: 137px;
        left: -330px;
    }


    &__custom-by-your-own {
        position: absolute;
        z-index: 3;
        top: 76px;
        left: -101px;
        width: 856px;
        height: 97px;
    }

    &__unique-clothes {
        position: absolute;
        z-index: -1;
        top: 602px;
        left: 382px;
        width: 673px;
        height: 97px;
    }

    &__circle {
        position: absolute;
        z-index: 3;
    }

    &__circle.first {
        top: 476px;
        left: 634px;
        width: 25px;
        height: 25px;
    }

    &__star {
        position: absolute;
        z-index: 3;
    }

    &__star.first {
        top: 380px;
        left: 640px;
        width: 46px;
        height: 62px;
        transform: rotate(11.82deg);
    }

    &__star.second {
        top: 244px;
        right: 111px;
        width: 33.19px;
        height: 44.73px;
        transform: rotate(-16.11deg);
    }
}

.customs-static {
    margin: 23px 0 0 0;
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__main {
        margin: 151px 0 0 17px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin: 0 0 0 0;
        max-width: 455px;
        font-family: 'Proxima-700';
        font-size: 64px;
        line-height: 65px;
        color: #FCFFFF;
    }

    &__text {
        margin: 16px 0 0 0;
        max-width: 271px;
        font-family: 'Proxima-400';
        font-size: 16px;
        line-height: 28px;
        color: #FCFFFF;
    }

    &__button {
        margin: 40px 0 0 0;
        width: 209px;
        height: 64px;
        padding: 19px 0 0 22px;
        background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
        border-radius: 16px;
        font-family: 'Proxima-700';
        font-size: 18px;
        line-height: 26px;
        color: #1D1F21;
    }

    &__bag {
        margin: 0px 4px 0 0;
        width: 24px;
        height: 24px;
    }

    &__images {
        margin: 28px 52px 0 0;
        position: relative;
    }

    &__background-img {
        width: 561px;
        height: 561px;
        border-radius: 24px;
        transform: rotate(-5.95deg);
    }

    &__background-img._active {
        background-image: url(../img/customs-background-img.png)
    }

    &__img {
        position: absolute;
        top: 11px;
        left: 37px;
        width: 561px;
        height: 561px;
        border-radius: 24px;
    }

    &__img._active {
        background-image: url(../img/customs-img.png)
    }
}

.custom-gallery {
    margin: 34px 0 0 -28px;
    width: 100%;
    max-width: 1140px;
}

.gallery {
    margin: 49px 0 0 30px;
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__row {
        width: 100%;
        max-width: 1140px;
        display: flex;
        flex-direction: row;
        gap: 29px;
    }

    &__block {
        width: 100%;
        max-width: 351px;
        height: 420px;
    }

    &__block._active {
        background-image: url(../img/gallery-item-background.png);
    }

    &__block.wide {
        width: 100%;
        max-width: 730px;
        height: 420px;

        .gallery__text {
            margin: 8px 0 0 0;
        }

        .gallery__price {
            margin: 8px 0 0 0;
        }

        .gallery__buttons {
            margin: 26px 0 0 0;
        }
    }

    &__block.wide._active {
        background-image: url(../img/gallery-item-wide-background.png)
    }

    &__block:hover {
        .gallery__hover-container {
            width: 100%;
            height: 100%;
            background: linear-gradient(140.92deg, rgba(104, 128, 255, 0.9) 3.3%, rgba(60, 167, 244, 0.9) 52.35%, rgba(140, 69, 255, 0.9) 92.15%), url(telegram-cloud-photo-size-2-5469661832827485049-y.jpg);
            transition: 0.2s;
            visibility: visible;
            opacity: 1;
        }

        cursor: pointer;
    }



    &__hover-container {
        height: 0;
        transition: 0.3s;
        visibility: hidden;
        opacity: 0;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin: 94px 0 0 1px;
        font-family: 'Proxima-700';
        font-size: 36px;
        line-height: 50px;
        text-align: center;
        color: #FCFFFF;
    }

    &__text {
        margin: 2px 0 0 1px;
        max-width: 257px;
        font-family: 'Proxima-400';
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #FCFFFF;
    }

    &__price {
        margin: 16px 0 0 1px;
        font-family: 'Proxima-700';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 34px;
        color: #FCFFFF;
    }

    &__buttons {
        margin: 24px 0 0 2px;
        display: flex;
        flex-direction: row;
        gap: 12px;
    }

    &__buy-button {
        width: 122px;
        height: 64px;
        padding: 19px 0 0 45px;
        background: #1D1F21;
        border-radius: 16px;
        font-family: 'Proxima-700';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;

        span {
            background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }

    &__view-button {
        width: 134px;
        height: 64px;
        padding: 19px 0 0 30px;
        background: #1D1F21;
        border-radius: 16px;
        font-family: 'Proxima-700';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        display: flex;
        flex-direction: row;

        span {
            background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }

    &__arrow {
        margin: 1.5px 0 0 8px;
        width: 24px;
        height: 24px;

    }

    &__block.blocked {
        position: relative;

    }

    &__block.blocked._active {
        background-image: url(../img/blocked-block-gallery-background.png);
        border: 1px solid #525960;
        border-radius: 12px;
    }

    &__blur {
        width: 349px;
        height: 418px;
        border-radius: 12px;
        backdrop-filter: blur(11px);
    }

    &__blocked {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: transparent;
    }

    &__blocked-title {
        margin: 135px 0 0 5px;
        font-family: 'Proxima-700';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.1em;
        background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__blocked-text {
        margin: 0 0 0 3px;
        font-family: 'Proxima-700';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 34px;
        color: #FCFFFF;

        span {
            display: inline-flex;
            margin: 3px 0 0 10px;
        }
    }

    &__blocked-img {}

    &__view-button.blocked {
        margin: 19px 0 0 4px;
    }
}

.custom-form {
    margin: 0px 0 0 2px;
    width: 100%;
    max-width: 1442px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &__blue-diamond.big {
        position: absolute;
        width: 169.79px;
        height: 169.79px;
        left: 158px;
        top: 200px;
        opacity: 0.7;
        filter: blur(6px);
        transform: rotate(0deg);
        background-size: 185px 180px;
    }


    &__blue-diamond {
        position: absolute;
        width: 119.4px;
        height: 119.4px;
        left: 238px;
        top: 608px;
        opacity: 0.7;
        transform: rotate(63deg);
        background-size: 128px 128px;
    }

    &__blue-diamond._active {
        background-image: url(../img/blue-diamond.png);
        transition: 0.3s;
    }

    &__purple-diamond {
        position: absolute;
        width: 345px;
        height: 345px;
        left: -154px;
        top: 268px;
        transform: rotate(0deg);
        background-size: 405px 415px;
    }

    &__purple-diamond._active {
        background-image: url(../img/purple-diamond.png);
        transition: 0.3s;
    }

    &__violet-diamond {
        display: none;
    }

    &__kubik {
        position: absolute;
        width: 458px;
        height: 458px;
        right: -173px;
        top: 168px;
        filter: blur(5.5px);
        transform: rotate(-20.2deg);
    }

    &__kubik._active {
        background-image: url(../img/kubik.png);
        transition: 0.3s;
    }

    &__words {
        margin: 63px 0 0 2px;
        font-family: 'Proxima-700';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.1em;
        background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__title {
        margin: 0px 0 0 1px;
        max-width: 540px;
        font-family: 'Proxima-700';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 50px;
        text-align: center;
        color: #FCFFFF;
    }

    &__form {
        margin: 32px 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 23px;
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    &__label {
        font-family: 'Proxima-400';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #C8D2DC;
    }

    &__input {
        width: 410px;
        height: 64px;
        background: #212426;
        border-radius: 9px;
        padding: 0px 0 4px 32px;
        font-family: 'Proxima-400';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: rgba(200, 210, 220, 0.7);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__input.text-field {
        width: 410px;
        height: 182px;
        white-space: normal;
        padding: 0 0 122px 32px;
    }

    &__submit-button {
        margin: -8px 0 0 0;
        width: 410px;
        height: 64px;
        left: 517px;
        top: 665px;
        background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
        border-radius: 16px;
        font-family: 'Proxima-700';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        color: #1D1F21;
        padding: 19.5px 0 0 146px;
    }

    &__agreement {
        width: 100%;
        max-width: 410px;
        margin: 18px 0 0 0;
        font-family: 'Proxima-400';
        font-size: 14px;
        line-height: 21px;
        color: #C8D2DC;
        display: flex;
        flex-direction: row;
        gap: 10px;

        span {
            font-family: 'Proxima-600';
            text-decoration-line: underline;
            color: #86A8FF;
            margin: 0 0 0 -2.5px;
        }
    }

    &__checkbox {
        margin: -1px 0 0 1px;
        width: 20px;
        height: 20px;
        background: #1D1F21;
        border: 1px solid #525960;
        border-radius: 7px;
    }

    &__checkbox.active {
        background: linear-gradient(94.78deg, #D1B5FF 9.27%, #68C9FF 84.06%);
    }


    &__dropdown-container {
        position: relative;
        pointer-events: auto;
    }



    &__colors-container {
        margin: 0px 0 0 -2px;
        display: flex;
        flex-direction: row;

        br {
            display: none;
        }
    }

    &__colors-mob {
        display: flex;
        flex-direction: row;
    }

    &__color {
        margin-left: -14px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background: #C45297;
        border: 4px solid #1D1F21;
    }

    &__color.active {
        border: 4px solid #FCFFFF;
    }

    &__color:hover {
        cursor: pointer;
    }

    &__color.first {
        margin-left: 0;
    }

    &__color.first-mob {}

    &__color.red {
        background: #CA3838;
    }

    &__color.orange {
        background: #EB8032;
    }

    &__color.yellow {
        background: #FFDA57;
    }

    &__color.green {
        background: #79CE60;
    }

    &__color.light-green {
        background: #60CEB4;
    }

    &__color.birusa {
        background: #41D4F4;
    }

    &__color.blue {
        background: #4153F4;
    }

    &__color.purple {
        background: #6541F4;
    }

    &__color.pink {
        background: #B041F4;
    }

    &__color.dark-pink {
        background: #C45297;
    }

    &__color.light-red {
        background: #A14051;
    }

    &__color.white {
        background: #FFFFFF;
    }

    &__color.grey {
        background: #CFCFCF;
    }

    &__color.brown {
        background: #4A3221;
    }

    &__color.black {
        background: #000000;
    }
}

.select {
    &__header {
        margin: 0 0px 0 0;
        padding: 21px 20px 0 32px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 410px;
        height: 64px;
        background: #212426;
        border-radius: 9px;
        font-family: 'Proxima-600';
        font-size: 16px;
        line-height: 21px;
        color: #FCFFFF;
        cursor: pointer;
    }


    &__body {
        position: static;
        padding: 2px 0 0 25px;
        top: 24px;
        display: flex;
        flex-direction: column;
        width: 410px;
        // height: 0;
        background: #212426;
        border-radius: 9px;

        font-family: 'Proxima-600';
        font-size: 16px;
        line-height: 21px;
        color: #FCFFFF;

        visibility: hidden;
        height: 0;
        transition: height 0.2s, visibility 0.01s;
    }

    &__body.active {
        visibility: visible;
        height: fit-content;
        transition: height 0.2s, visibility 0.1s;
        // height: 74px;
        margin: 3px 0 20px 0;
    }

    &__item {
        margin: 0px 0 0px 5px;
        padding: 12px 0 0 0;
        height: 44px;
        cursor: pointer;
    }

    &__arrow {
        margin: -1px 0px 0 0;
        transition: 0.2s;
        width: 24px;
        height: 24px;
    }

    &__arrow.active {
        transform: rotate(180deg);
        transition: 0.2s;
    }
}

.customs-page-footer {
    margin: 36px 0 0 -7px;
    width: 100%;
}








@media(max-width: 1025px) {
    .gallery-page-main {
        width: 100%;
        background: #1D1F21;
        display: flex;
        justify-content: center;

        &__wrapper {
            width: 100%;
            max-width: 1440px;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 2;
            position: relative;
        }

        &__blurred-img {
            display: none;
        }

        &__blurred-img.first._active {
            display: none;
        }



        &__make-art {
            display: none;
        }

        &__not-war {
            display: none;
        }

        &__circle {
            position: absolute;
            z-index: 3;
        }

        &__circle.first {
            top: 74px;
            left: -10px;
            right: auto;
            width: 25px;
            height: 25px;
        }

        &__star {
            position: absolute;
            z-index: 3;
        }

        &__star.first {
            top: 0px;
            left: auto;
            right: -7px;
            width: 26px;
            height: 36px;
        }

    }

    .custom-gallery {
        margin: 34px 0 0 0px;
        width: 100%;
        max-width: 1140px;
    }



    .customs-static {
        margin: 23px 0 0 0;
        width: 100%;
        max-width: 1140px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__main {
            margin: 151px 0 0 17px;
            display: flex;
            flex-direction: column;
        }

        &__title {
            margin: 0 0 0 0;
            max-width: 455px;
            font-family: 'Proxima-700';
            font-size: 64px;
            line-height: 65px;
            color: #FCFFFF;
        }

        &__text {
            margin: 16px 0 0 0;
            max-width: 271px;
            font-family: 'Proxima-400';
            font-size: 16px;
            line-height: 28px;
            color: #FCFFFF;
        }

        &__button {
            margin: 40px 0 0 0;
            width: 209px;
            height: 64px;
            padding: 19px 0 0 22px;
            background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
            border-radius: 16px;
            font-family: 'Proxima-700';
            font-size: 18px;
            line-height: 26px;
            color: #1D1F21;
        }

        &__bag {
            margin: 0px 4px 0 0;
            width: 24px;
            height: 24px;
        }

        &__images {
            margin: 166px 90px 0 0px;
            position: relative;
        }

        &__background-img {
            width: 309.25px;
            height: 309.25px;
            border-radius: 24px;
            transform: rotate(-5.95deg);
        }

        &__background-img._active {
            background-image: url(../img/customs-background-img.png);
            background-size: 309.25px 309.25px;
        }

        &__img {
            position: absolute;
            top: 6px;
            left: 21px;
            width: 309px;
            height: 309px;
            border-radius: 24px;
        }

        &__img._active {
            background-image: url(../img/customs-img.png);
            background-size: 309.25px 309.25px;
        }
    }

    .custom-form {
        margin: 6px 0 0 0;
        width: 100%;
        max-width: 345px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &__blue-diamond.big {
            display: flex;
            position: absolute;
            width: 94.39px;
            height: 94.39px;
            left: auto;
            right: -45px;
            top: 0px;
            opacity: 0.7;
            filter: blur(2.5px);
            transform: rotate(0deg);
            background-size: 94px 94px;
        }

        &__blue-diamond.big._active {
            background-image: url(../img/blue-diamond.png);
        }

        &__violet-diamond {
            display: flex;
            position: absolute;
            width: 36px;
            height: 36px;
            right: 36px;
            top: 12px;
            opacity: 0.7;
            transform: rotate(0deg);
            background-size: 36px 36px;
        }

        &__violet-diamond._active {
            background-image: url(../img/violet-diamond.png);
        }


        &__blue-diamond {
            display: none;
        }

        &__blue-diamond._active {}

        &__purple-diamond {
            display: none;
        }

        &__purple-diamond._active {
            display: none;
        }



        &__kubik {
            display: none;
        }

        &__kubik._active {
            display: none;
        }
    }

}

@media (max-width: 800px) {


    .customs-static {
        margin: 23px 0 0 0;
        width: 100%;
        max-width: 1140px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &__main {
            margin: 151px 0 0 17px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__title {
            margin: 0 0 0 0;
            max-width: 455px;
            font-family: 'Proxima-700';
            font-size: 64px;
            line-height: 65px;
            color: #FCFFFF;
            text-align: center;
        }

        &__text {
            margin: 16px 0 0 0;
            max-width: 271px;
            font-family: 'Proxima-400';
            font-size: 16px;
            line-height: 28px;
            color: #FCFFFF;
            text-align: center;
        }

        &__button {
            margin: 40px 0 0 0;
            width: 209px;
            height: 64px;
            padding: 19px 0 0 22px;
            background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
            border-radius: 16px;
            font-family: 'Proxima-700';
            font-size: 18px;
            line-height: 26px;
            color: #1D1F21;
        }

        &__bag {
            margin: 0px 4px 0 0;
            width: 24px;
            height: 24px;
        }

        &__images {
            margin: 116px 0px 0 0px;
            position: relative;
        }

        &__background-img {
            width: 309.25px;
            height: 309.25px;
            border-radius: 24px;
            transform: rotate(-5.95deg);
        }

        &__background-img._active {
            background-image: url(../img/customs-background-img.png);
            background-size: 309.25px 309.25px;
        }

        &__img {
            position: absolute;
            top: 6px;
            left: 21px;
            width: 309px;
            height: 309px;
            border-radius: 24px;
        }

        &__img._active {
            background-image: url(../img/customs-img.png);
            background-size: 309.25px 309.25px;
        }
    }
}


@media(max-width:376px) {
    .customs-page-main {
        width: 100%;
        background: #1D1F21;
        display: flex;
        justify-content: center;

        &__wrapper {
            width: 100%;
            max-width: 1440px;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 2;
            position: relative;
        }

        &__blurred-img {
            opacity: 0.7;
            filter: blur(124.532px);
            width: 100%;
            max-width: 758px;
            height: 699.04px;
            position: absolute;
            z-index: -1;
            background: #86a8ff63;
        }

        &__blurred-img.first._active {
            background: url(../img/first-blurred-img.png);
            transition: 0.5s;
            top: 187px;
            left: -14.72px;
        }


        &__custom-by-your-own {
            display: none;
        }

        &__unique-clothes {
            position: absolute;
            z-index: -1;
            top: 4px;
            left: 84px;
            width: 420px;
            height: 61px;
        }

        &__circle {
            position: absolute;
            z-index: 3;
        }

        &__circle.first {
            top: 476px;
            right: 634px;
            width: 25px;
            height: 25px;
        }

        &__star {
            position: absolute;
            z-index: 3;
        }

        &__star.first {
            top: 368px;
            left: 0px;
            width: 30px;
            height: 41px;
            transform: rotate(0deg);
        }

        &__star.second {
            top: 363px;
            right: 39px;
            width: 33.19px;
            height: 44.73px;
            transform: rotate(0deg);
            z-index: -1;
        }
    }

    .customs-static {
        margin: 62px 0 0 0;
        width: 100%;
        max-width: 1140px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 32px;

        &__main {
            margin: 0px 0 0 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &__title {
            margin: 0 0 0 0;
            max-width: 263px;
            font-family: 'Proxima-700';
            font-size: 36px;
            line-height: 40px;
            color: #FCFFFF;
            text-align: left;
        }

        &__text {
            margin: 8px 0 0 0;
            max-width: 271px;
            font-family: 'Proxima-400';
            font-size: 15px;
            line-height: 24px;
            color: #FCFFFF;
            text-align: left;
        }

        &__button {
            margin: 22px 0 0 0;
            width: 193px;
            height: 52px;
            padding: 12px 0 0 28px;
            background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
            border-radius: 16px;
            font-family: 'Proxima-700';
            font-size: 15px;
            line-height: 26px;
            color: #1D1F21;
        }

        &__bag {
            margin: 4.5px 4px 0 0;
            width: 18px;
            height: 18px;
        }

        &__images {
            margin: 16px 0px 0 30px;
            position: relative;
        }

        &__background-img {
            width: 309.25px;
            height: 309.25px;
            border-radius: 24px;
            transform: rotate(-5.95deg);
        }

        &__background-img._active {
            background-image: url(../img/customs-background-img.png);
            background-size: 309.25px 309.25px;
        }

        &__img {
            position: absolute;
            top: 6px;
            left: 21px;
            width: 309px;
            height: 309px;
            border-radius: 24px;
        }

        &__img._active {
            background-image: url(../img/customs-img.png);
            background-size: 309.25px 309.25px;
        }
    }

    .custom-gallery {
        margin: 7px 0 0 -30px;
        width: 100%;
        max-width: 1140px;
    }

    .gallery-page-footer {
        margin: 38px 0 0 0;
        width: 100%;
    }

    .custom-form {
        margin: 30px 0 0 0;
        width: 100%;
        max-width: 345px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &__blue-diamond.big {
            display: flex;
            position: absolute;
            width: 94.39px;
            height: 94.39px;
            left: auto;
            right: -45px;
            top: 0px;
            opacity: 0.7;
            filter: blur(2.5px);
            transform: rotate(0deg);
            background-size: 94px 94px;
        }

        &__blue-diamond.big._active {
            background-image: url(../img/blue-diamond.png);
        }

        &__violet-diamond {
            display: flex;
            position: absolute;
            width: 36px;
            height: 36px;
            right: 36px;
            top: 12px;
            opacity: 0.7;
            transform: rotate(0deg);
            background-size: 36px 36px;
        }

        &__violet-diamond._active {
            background-image: url(../img/violet-diamond.png);
        }


        &__blue-diamond {
            display: none;
        }

        &__blue-diamond._active {}

        &__purple-diamond {
            display: none;
        }

        &__purple-diamond._active {
            display: none;
        }



        &__kubik {
            display: none;
        }

        &__kubik._active {
            display: none;
        }

        &__words {
            margin: 29px 0 0 0px;
            align-self: flex-start;
            font-family: 'Proxima-700';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 26px;
            letter-spacing: 0.1em;
            background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }

        &__title {
            margin: 0px 0 0 0px;
            align-self: flex-start;
            max-width: 306px;
            font-family: 'Proxima-700';
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 34px;
            text-align: left;
            color: #FCFFFF;
        }

        &__form {
            margin: 48px 0 0 0;
            display: flex;
            flex-direction: column;
            gap: 13px;
        }

        &__block {
            display: flex;
            flex-direction: column;
            gap: 7px;
        }

        &__block.type {
            order: 1;
        }

        &__block.colors {
            order: 3;
        }

        &__block.size {
            order: 2;
        }

        &__block.comment {
            order: 4;
        }

        &__label {
            font-family: 'Proxima-400';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #C8D2DC;
        }

        &__input {
            max-width: 345px;
            height: 64px;
            background: #212426;
            border-radius: 9px;
            padding: 0px 0 3px 32px;
            font-family: 'Proxima-400';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            color: rgba(200, 210, 220, 0.7);
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }

        &__input.text-field {
            width: 100%;
            max-width: 345px;
            height: 182px;
            white-space: normal;
            padding: 0 0 121px 32px;
        }

        &__submit-button {
            margin: 2px 0 0 0;
            order: 5;
            width: 100%;
            max-width: 410px;
            height: 64px;
            left: 517px;
            top: 665px;
            background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
            border-radius: 16px;
            font-family: 'Proxima-700';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 26px;
            color: #1D1F21;
            padding: 18px 0 0 113px;
        }

        &__agreement {
            width: 100%;
            max-width: 410px;
            margin: 15px 0 0 -1px;
            font-family: 'Proxima-400';
            font-size: 14px;
            line-height: 21px;
            color: #C8D2DC;
            display: flex;
            flex-direction: row;
            gap: 10px;

            span {
                font-family: 'Proxima-600';
                text-decoration-line: underline;
                color: #86A8FF;
                margin: 0 0 0 -2.5px;
            }
        }

        &__checkbox {
            margin: 0px 0 0 0px;
            width: 20px;
            height: 20px;
            background: #1D1F21;
            border: 1px solid #525960;
            border-radius: 7px;
        }

        &__checkbox.active {
            background: linear-gradient(94.78deg, #D1B5FF 9.27%, #68C9FF 84.06%);
        }






        &__colors-container {
            margin: -2px 0 4px -2px;
            display: flex;
            flex-direction: column;
            gap: 12px;

            br {
                display: flex;
            }
        }

        &__color {
            margin-left: -14px;
            width: 38px;
            height: 41px;
            border-radius: 50%;
            background: #C45297;
            border: 4px solid #1D1F21;
        }

        &__color.active {
            border: 4px solid #FCFFFF;
        }

        &__color:hover {
            cursor: pointer;
        }

        &__color.first {
            margin-left: 0;
        }

        &__color.first-mob {
            margin-left: 0;
        }

        &__color.red {
            background: #CA3838;
        }

        &__color.orange {
            background: #EB8032;
        }

        &__color.yellow {
            background: #FFDA57;
        }

        &__color.green {
            background: #79CE60;
        }

        &__color.light-green {
            background: #60CEB4;
        }

        &__color.birusa {
            background: #41D4F4;
        }

        &__color.blue {
            background: #4153F4;
        }

        &__color.purple {
            background: #6541F4;
        }

        &__color.pink {
            background: #B041F4;
        }

        &__color.dark-pink {
            background: #C45297;
        }

        &__color.light-red {
            background: #A14051;
        }

        &__color.white {
            background: #FFFFFF;
        }

        &__color.grey {
            background: #CFCFCF;
        }

        &__color.brown {
            background: #4A3221;
        }

        &__color.black {
            background: #000000;
        }
    }

    .select {
        &__header {
            margin: 0 0px 0 0;
            padding: 21px 20px 0 32px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 345px;
            height: 64px;
            background: #212426;
            border-radius: 9px;
            font-family: 'Proxima-600';
            font-size: 16px;
            line-height: 21px;
            color: #FCFFFF;
            cursor: pointer;
        }


        &__body {
            position: static;
            padding: 2px 0 0 25px;
            top: 24px;
            display: flex;
            flex-direction: column;
            width: 345px;
            // height: 0;
            background: #212426;
            border-radius: 9px;

            font-family: 'Proxima-600';
            font-size: 16px;
            line-height: 21px;
            color: #FCFFFF;

            visibility: hidden;
            height: 0;
            transition: height 0.2s, visibility 0.01s;
        }

        &__body.active {
            visibility: visible;
            height: fit-content;
            transition: height 0.2s, visibility 0.1s;
            // height: 74px;
            margin: 3px 0 20px 0;
        }

        &__item {
            margin: 0px 0 0px 5px;
            padding: 12px 0 0 0;
            height: 44px;
            cursor: pointer;
        }

        &__arrow {
            margin: -1px 0px 0 0;
            transition: 0.2s;
            width: 24px;
            height: 24px;
        }

        &__arrow.active {
            transform: rotate(180deg);
            transition: 0.2s;
        }
    }

    .customs-page-footer {
        margin: 23px 0 0 7px;
        width: 100%;
    }

}