.forum-page-header {
    width: 100%;
}


.forum-page-main {
    width: 100%;
    background: #1D1F21;
    display: flex;
    justify-content: center;

    &__wrapper {
        width: 100%;
        max-width: 1440px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        position: relative;
    }

    &__background{
        position: absolute;
        z-index: -1;
        top: 2px;
        left: 0;
        width: 100%;
        max-width: 1440px;
        height: 317px;
        &._active{
            background-image: url(../img/forum-hero-big-background.png);
            
            border-radius: 8px;
        }
    }
}

.forum-hero {
margin: 51px 0 0 1px;
display: flex;
flex-direction: column;
    &__title {
        margin: 1px 0 0 2px;
        font-family: 'Proxima-700';
        font-size: 36px;
        line-height: 50px;
        color: #FCFFFF;
    }

    &__undertitle {
        margin: 5px 0 0 0;
        font-family: 'Proxima-700';
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
    }

    &__star {
        width: 28px;
        height: 28px;
        margin: 1px 6px 0 0;
    }

    &__slider {
        margin: 24px 0 0 1px;
        width: 100%;
        max-width: 1110px;

    }

    &__wrapper {}

    &__slide {
        width: 350px;
        height: 350px;
    }

    &__container {
        width: 350px;
        height: 350px;
        display: flex;
        flex-direction: column;
        position: relative;
        background: #212426;
        border-radius: 12px;
    }

    &__background-img {
        width: 350px;
        height: 173px;
        border-radius: 12px 12px 0 0 ;
        &.first._active{
            background-image: url(../img/forum-hero-small-background.png);
        }
        &.second._active {
            background-image: url(../img/forum-hero-small-background-2.png);
        }
        &.third._active {
            background-image: url(../img/forum-hero-small-background-3.png);
        }
    }

    &__avatar {
        position: absolute;
        top: 128px;
        left: 20px;
        width: 92px;
        height: 92px;
        &._active{
            background-image: url(../img/forum-hero-avatar.png);
        }
    }

    &__date {
        margin: 18px 23px 0 0;
        align-self: flex-end;
        font-family: 'Manrope-400';
        font-size: 14px;
        line-height: 19px;
        color: #C8D2DC;
    }

    &__name {
        margin: 24px 0 0 28px;
        font-family: 'Manrope-400';
        font-size: 14px;
        line-height: 19px;
        color: #C8D2DC;
    }

    &__heading {
        margin: -1px 0 0 -20px;
        font-family: 'Proxima-700';
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #FCFFFF;
    }

    &__buttons {
        margin: 5px 0 0 28px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    &__view-button {
        width: 153px;
        height: 40px;
        background: linear-gradient(94.78deg, rgba(104, 201, 255, 0.1) 9.27%, rgba(209, 181, 255, 0.1) 84.06%);
        border-radius: 10px;
        padding: 9px 0 0 21px;
        span{
            font-family: 'Proxima-700';
            font-size: 14px;
            line-height: 20px;
            background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }

    &__answer-button {
        margin: 0 0 0 0;
        width: 95px;
        height: 40px;
        border-radius: 10px;
        padding: 9px 0 0 10px;
        font-family: 'Proxima-700';
        font-size: 14px;
        line-height: 20px;
        color: #C5FF98;
    }

    &__arrow {
        margin: 0 8px 0 0;
        width: 20px;
        height: 20px;
    }
}



.height{
    height: 3000px;
}
.forum-page-footer {
    margin: 115px 0 0 0;
    width: 100%;

}

@media(max-width: 1025px) {

    .forum-hero {
        margin: 51px 0 0 30px;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1140px;

        &__slider {
            margin: 24px 0 0 15px;
            width: 100%;

        }
    }

}

@media(max-width: 800px) {

    .forum-hero {
            margin: 44px 0 0 25px;
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 1140px;
    
            &__title {
                margin: 0px 0 0 2px;
                font-family: 'Proxima-700';
                font-size: 26px;
                line-height: 34px;
                color: #FCFFFF;
            }
    
            &__undertitle {
                margin: 2px 0 0 2px;
                font-family: 'Proxima-700';
                font-size: 18px;
                line-height: 26px;
                color: #FFFFFF;
            }
    
            &__star {
                width: 20px;
                height: 20px;
                margin: 3px 0px 0 0;
            }
    
            &__slider {
                margin: 25px 0 0 0px;
                width: 100%;
                min-width: 0;
            }
    
            &__wrapper {}
    
            &__slide {
                width: 290px;
                height: 350px;
            }
    
            &__container {
                width: 290px;
                height: 350px;
                display: flex;
                flex-direction: column;
                position: relative;
                background: #212426;
                border-radius: 12px;
            }
    
            &__background-img {
                width: 290px;
                height: 175px;
                border-radius: 12px 12px 0 0;
    
                &.first._active {
                    background-image: url(../img/forum-hero-small-background.png);
                    background-size: 350px 175px;
                }
    
                &.second._active {
                    background-image: url(../img/forum-hero-small-background-2.png);
                    background-size: 350px 175px;
                }
    
                &.third._active {
                    background-image: url(../img/forum-hero-small-background-3.png);
                    background-size: 350px 175px;
                }
            }
    
            &__avatar {
                position: absolute;
                top: 139px;
                left: 12px;
                width: 70px;
                height: 70px;
    
                &._active {
                    background-image: url(../img/forum-hero-avatar.png);
                    background-size: 70px 70px;
                }
            }
    
            &__date {
                margin: 16px 11px 0 0;
                align-self: flex-end;
                font-family: 'Manrope-400';
                font-size: 14px;
                line-height: 19px;
                color: #C8D2DC;
            }
    
            &__name {
                margin: 13px 0 0 11.5px;
                font-family: 'Manrope-400';
                font-size: 14px;
                line-height: 19px;
                color: #C8D2DC;
            }
    
            &__heading {
                margin: 0px 0 0 3px;
                font-family: 'Proxima-700';
                font-size: 18px;
                line-height: 26px;
                text-align: left;
                color: #FCFFFF;
            }
    
            &__buttons {
                margin: 14px 0 0 12px;
                display: flex;
                flex-direction: row;
                gap: 10px;
            }
    
            &__view-button {
                width: 153px;
                height: 40px;
                background: linear-gradient(94.78deg, rgba(104, 201, 255, 0.1) 9.27%, rgba(209, 181, 255, 0.1) 84.06%);
                border-radius: 10px;
                padding: 10px 0 0 21px;
    
                span {
                    font-family: 'Proxima-700';
                    font-size: 14px;
                    line-height: 20px;
                    background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
            }
    
            &__answer-button {
                margin: 0 0 0 0;
                width: 95px;
                height: 40px;
                border-radius: 10px;
                padding: 10px 0 0 10px;
                font-family: 'Proxima-700';
                font-size: 14px;
                line-height: 20px;
                color: #C5FF98;
            }
    
            &__arrow {
                margin: 0px 3.5px 0 1px;
                width: 20px;
                height: 20px;
            }
        }
}


@media(max-width: 376px) {

    .forum-page-main {
        width: 100%;
        background: #1D1F21;
        display: flex;
        justify-content: center;

        &__wrapper {
            width: 100%;
            max-width: 1440px;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 2;
            position: relative;
        }

        &__background {
            position: absolute;
            z-index: -1;
            top: 8px;
            left: 0;
            width: 100%;
            max-width: 375px;
            height: 317px;

            &._active {
                background-image: url(../img/forum-hero-big-background.png);
                border-radius: 0px;
            }
        }
    }
        
    .forum-hero {
        margin: 44px 0 0 30px;
        display: flex;
        flex-direction: column;
        min-width: 0;
        &__title {
            margin: 0px 0 0 2px;
            font-family: 'Proxima-700';
            font-size: 26px;
            line-height: 34px;
            color: #FCFFFF;
        }
    
        &__undertitle {
            margin: 2px 0 0 2px;
            font-family: 'Proxima-700';
            font-size: 18px;
            line-height: 26px;
            color: #FFFFFF;
        }
    
        &__star {
            width: 20px;
            height: 20px;
            margin: 3px 0px 0 0;
        }
    
        &__slider {
            margin: 25px 0 0 0px;
            width: 100%;
            max-width: 360px;
            min-width: 0;
        }
    
        &__wrapper {}
    
        &__slide {
            width: 290px;
            height: 350px;
        }
    
        &__container {
            width: 290px;
            height: 350px;
            display: flex;
            flex-direction: column;
            position: relative;
            background: #212426;
            border-radius: 12px;
        }
    
        &__background-img {
            width: 290px;
            height: 175px;
            border-radius: 12px 12px 0 0;
    
            &.first._active {
                background-image: url(../img/forum-hero-small-background.png);
                background-size: 350px 175px;
            }
    
            &.second._active {
                background-image: url(../img/forum-hero-small-background-2.png);
                background-size: 350px 175px;
            }
    
            &.third._active {
                background-image: url(../img/forum-hero-small-background-3.png);
                background-size: 350px 175px;
            }
        }
    
        &__avatar {
            position: absolute;
            top: 139px;
            left: 12px;
            width: 70px;
            height: 70px;
    
            &._active {
                background-image: url(../img/forum-hero-avatar.png);
                background-size: 70px 70px;
            }
        }
    
        &__date {
            margin: 16px 11px 0 0;
            align-self: flex-end;
            font-family: 'Manrope-400';
            font-size: 14px;
            line-height: 19px;
            color: #C8D2DC;
        }
    
        &__name {
            margin: 13px 0 0 11.5px;
            font-family: 'Manrope-400';
            font-size: 14px;
            line-height: 19px;
            color: #C8D2DC;
        }
    
        &__heading {
            margin: 0px 0 0 3px;
            font-family: 'Proxima-700';
            font-size: 18px;
            line-height: 26px;
            text-align:left;
            color: #FCFFFF;
        }
    
        &__buttons {
            margin: 14px 0 0 12px;
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    
        &__view-button {
            width: 153px;
            height: 40px;
            background: linear-gradient(94.78deg, rgba(104, 201, 255, 0.1) 9.27%, rgba(209, 181, 255, 0.1) 84.06%);
            border-radius: 10px;
            padding: 10px 0 0 21px;
    
            span {
                font-family: 'Proxima-700';
                font-size: 14px;
                line-height: 20px;
                background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
        }
    
        &__answer-button {
            margin: 0 0 0 0;
            width: 95px;
            height: 40px;
            border-radius: 10px;
            padding: 10px 0 0 10px;
            font-family: 'Proxima-700';
            font-size: 14px;
            line-height: 20px;
            color: #C5FF98;
        }
    
        &__arrow {
            margin: 0px 3.5px 0 1px;
            width: 20px;
            height: 20px;
        }
    }

    .forum-page-footer {
        margin: 35px 0 0 0;
        width: 100%;

    }
}